div.departmentsNumberBorder {
    border-style: solid;
    border-radius: 5px;
    top: 520px; left: 20px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    background-color:  rgba(49,51,50,255);
    
}
div.departmentsProfitBorder {
    border-style: solid;
    border-radius: 5px;
    top: 520px; left: 400px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    background-color:  rgba(49,51,50,255);
}
div.employeeNumberBorder {
    border-style: solid;
    border-radius: 5px;
    top: 520px; left: 750px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    background-color:  rgba(49,51,50,255);
}
div.employeeProfitBorder {
    border-style: solid;
    border-radius: 5px;
    top: 520px; left: 1127px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    background-color:  rgba(49,51,50,255);
    
}
div.typeItemNumberBorder {
    border-style: solid;
    border-radius: 5px;
    top: 760px; left: 375px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    background-color:  rgba(49,51,50,255);
}
div.typeItemProfitBorder {
    border-style: solid;
    border-radius: 5px;
    top: 760px; left: 750px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    background-color:  rgba(49,51,50,255);
}

div.dateOrdersBorder {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    top: 1000px; left: 20px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    
}
div.dateProfitBorder {
    border-style: solid;
    border-radius: 5px;
    top: 1400px; left: 20px;
    position: absolute;
    border-color: rgba(144,104,63,255);
    background-color: white;
}

div.borderText{
    color: white;
}

div.inputStatDiv{
    color: rgba(144,104,63,255);
    text-align: center;
    background-color: rgba(49,51,50,255);
    border-style: solid;
    border-color: rgba(144,104,63,255);
    position: 'relative';
    margin-top: 0.2%; 
}

input.change{
    width: 15%;
    background-color: rgba(143,102,61,255);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }