button.logOut {
	background-color:rgba(144,104,63,255);
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:28px;
    position: fixed;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
	border:1px solid lightblue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

span.userInfo{
    color: white;
    font-size: 0.85em;

}


div.userInfo{
    position: absolute;
    top: 50px;
    right: 15px;
    font-size: 18px;
    color: rgba(146,95,72,255);
}

button.logOut:hover {
	background-color:rgba(146,95,72,255);
}

a.on {
    background-color: rgba(144,104,63,255);
    color: white;
    padding: 3px 7px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    
    border-radius:28px;
}

a.off {
    background-color: grey;
    color: white;
    padding: 3px 7px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    pointer-events: none;
    
    border-radius:28px;
}

a.on:hover, a:active {
background-color: rgba(146,95,72,255);
}



